<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      class="light-style layout-navbar-fixed layout-menu-fixed"
      dir="ltr"
      data-theme="theme-default"
      data-template="vertical-menu-template-no-customizer" >
<head th:replace="~{fragments :: head}"></head>
<body>
<div class="layout-wrapper layout-content-navbar">
  <div class="layout-container">
    <aside th:replace="~{fragments :: sidebar(${pageNum})}"></aside>
    <div class="layout-page">
      <nav th:replace="~{fragments :: navbar}"></nav>
      <div class="content-wrapper">
        <div class="container-xxl flex-grow-1 container-p-y">
          <div class="card py-5 px-5">
            <h4>Товари</h4>
            <div class="row d-flex justify-content-between mb-4">
              <div class="col-5">
                <input class="form-control" type="search" id="searchInput" placeholder="Пошук за назвою або ціною" aria-label="Search" maxlength="100">
              </div>
              <div class="col-3">
                <select class="form-select" id="categorySelect" aria-label="Default select example">
                  <option></option>
                </select>
              </div>
              <a th:href="@{/admin/products/new}" type="button" class="btn btn-label-primary col-3 me-3"><i class="ti ti-plus"></i>Створити товар</a>
            </div>

            <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <h4>Ви впевнені що хочете видалити цей елемент?</h4>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-danger" onclick="deleteProduct()">Видалити</button>
                  </div>
                </div>
              </div>
            </div>


            <div class="table-responsive">
              <table class="table table-bordered">
                <thead>
                <tr>
                  <th>Назва</th>
                  <th>Ціна</th>
                  <th>Категорія</th>
                  <th>Статус</th>
                  <th></th>
                </tr>
                </thead>
                <tbody id = "myTable">
                </tbody>
              </table>
              <div class="d-flex justify-content-between">
                <div class="col-4 mt-4" id="paginationElements"></div>
                <ul class="pagination mt-4 justify-content-end"></ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
<script th:src="@{/assets/vendor/libs/jquery/jquery.js}"></script>
<script th:src="@{/assets/vendor/libs/popper/popper.js}"></script>
<script th:src="@{/assets/vendor/js/bootstrap.js}"></script>
<script th:src="@{/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js}"></script>
<script th:src="@{/assets/vendor/libs/hammer/hammer.js}"></script>
<script th:src="@{/assets/vendor/js/menu.js}"></script>
<script th:src="@{/assets/js/main.js}"></script>
<script th:src="@{/assets/vendor/libs/select2/select2.js}"></script>
<script>
$(document).ready(function(){
        $('#categorySelect').select2({
            placeholder: "Оберіть категорію",
            allowClear: true,
            maximumInputLength: 100,
            ajax: {
                type: "get",
                url: "/admin/getCategoriesForProducts",
                data: function (params) {
                    return {
                        search: params.term,
                        page: params.page || 1
                    };
                },
                processResults: function (response) {
                    return {
                        results: $.map(response.content, function (item) {
                            return {
                                text: item.name,
                                id: item.id
                            }
                        }),
                        pagination: {
                            more: (response.pageable.pageNumber+1)  < response.totalPages
                        }
                    };
                }

            }
        });
        getProducts(0);
    });
    var paginationType;
    var data = "";
	function getProducts(currentPage) {
		$.ajax({
					type : "GET",
					url : "getProducts",
					data: {
                        page: currentPage
                    },
					success : function(response) {
						$('.tr').remove();
						$('ul.pagination li').remove();
						data = response.content
						for (i = 0; i < data.length; i++) {
						var st;
						if(data[i].status == true){
						    st = 'Увім'
						} else {
						    st = 'Вимк'
						}
							$("#myTable")
									.append(
											'<tr class="tr"> <td>'
													+ data[i].name
													+ '</td> <td>'
													+ data[i].price
													+ '</td> <td>'
													+ data[i].categoryName
													+ '</td> <td>'
													+ st
													+ '</td> <td><a href="/admin/products/edit/'+data[i].id+'" role="button" class="btn btn-primary" style="color: white"><i class="ti ti-pencil"></i></a> <button type="button" class="btn btn-danger" onclick="openDeleteModal('
													+ data[i].id
													+ ');" ><i class="ti ti-trash"></button></td> </tr>');

						}

                              paginationType = 1;
                              buildPagination(response);


					},
					error : function(err) {
						alert("error is" + err)
					}
				});
	}

	function buildPagination(response) {
		totalPages = response.totalPages;
		var pageNumber = response.pageable.pageNumber;
        if(totalPages > 1){
		var prev = '';

			if(pageNumber !== 0) {
                prev = '<li class="page-item prev"><a class="page-link waves-effect" id="prev" href="javascript:void(0);"><i class="ti ti-chevron-left ti-xs"></i></a></li>';
			} else {
                prev = '<li class="page-item prev disabled"><a class="page-link waves-effect" href="javascript:void(0);"><i class="ti ti-chevron-left ti-xs"></i></a></li>';
		    }


		var next = '';

			if(pageNumber !== totalPages - 1) {
				next = '<li class="page-item next"><a class="page-link waves-effect" id="next" href="javascript:void(0);"><i class="ti ti-chevron-right ti-xs"></i></a></li>';
			} else {
                next = '<li class="page-item next disabled"><a class="page-link waves-effect" href="javascript:void(0);"><i class="ti ti-chevron-right ti-xs"></i></a></li>';
		    }

       var pages = '';
       var dots = '<li class="page-item disabled"><a class="page-link waves-effect" href="javascript:void(0);"> ... </a></li>';
       if(pageNumber < 3){
            for(var i = 1; i <= 5; i++){
                if(i <= totalPages) {
                    if(pageNumber+1 !== i){
                        pages += '<li class="page-item"><a class="page-link waves-effect" href="javascript:void(0);">'+ i +'</a></li>';
                    } else {
                        pages += '<li class="page-item active"><a class="page-link waves-effect" href="javascript:void(0);">'+ i +'</a></li>';
                    }
                }
            }
            if(totalPages > 6){
                pages += dots;
                pages += '<li class="page-item"><a class="page-link waves-effect" href="javascript:void(0);">'+totalPages+'</a></li>';
            }

       } else if (3 > totalPages - 1 - pageNumber) {
            pages += '<li class="page-item"><a class="page-link waves-effect" href="javascript:void(0);">1</a></li>';
            if(totalPages > 6){
                pages += dots
            }
            for(var i = totalPages - 4; i <= totalPages; i++){
                if(i > 1 ){
                    if(pageNumber+1 !== i){
                        pages += '<li class="page-item"><a class="page-link waves-effect" href="javascript:void(0);">'+ i +'</a></li>';
                    } else {
                        pages += '<li class="page-item active"><a class="page-link waves-effect" href="javascript:void(0);">'+ i +'</a></li>';
                    }
                }
            }

       } else {
            pages += '<li class="page-item"><a class="page-link waves-effect" href="javascript:void(0);">1</a></li>';
            pages += dots

            pages += '<li class="page-item"><a class="page-link waves-effect" href="javascript:void(0);">'+pageNumber+'</a></li>';
            pages += '<li class="page-item active"><a class="page-link waves-effect" href="javascript:void(0);">'+(pageNumber+1)+'</a></li>';
            pages += '<li class="page-item"><a class="page-link waves-effect" href="javascript:void(0);">'+(pageNumber+2)+'</a></li>';

            pages += dots;
            pages += '<li class="page-item"><a class="page-link waves-effect" href="javascript:void(0);">'+totalPages+'</a></li>';
       }

		pages = prev + pages + next;
        $("#paginationElements").text("Показано "+response.numberOfElements+" з "+response.size+" елементів");
		$("ul.pagination").append(pages);
		} else {
            $("#paginationElements").text("")
            if(response.numberOfElements == 0){
                $("#myTable").append('<tr class="tr"><td colspan="5" class="text-center">Дані не знайдено</td>></tr>')
            }
		}
	}

	$(document).on("click", "ul.pagination li a", function() {
	    let val = $(this).text();
	    let id = $(this).attr('id');
        if(id === "prev"){
            let activeValue = parseInt($("ul.pagination li.active").text());
            if(paginationType === 1){
                getProducts(activeValue-2);
            }
            if(paginationType === 2){
                searchAndFilter(activeValue-2);
            }
        } else if (id === "next"){
            let activeValue = parseInt($("ul.pagination li.active").text());
            if(paginationType === 1){
                getProducts(activeValue);
            }
            if(paginationType === 2){
                searchAndFilter(activeValue);
            }
        } else {
            let currentPage = parseInt(val - 1);
            if(paginationType === 1){
                getProducts(currentPage);
            }
            if(paginationType === 2){
                searchAndFilter(currentPage);
            }
        }
	});

	var productId;
	function openDeleteModal(id){
	    productId = id
        $('#deleteModal').modal('show');
	}
	function deleteProduct(){
        $.ajax({
					type : "GET",
					url : "deleteProduct/"+productId,
					success : function(response) {
					    $('#deleteModal').modal('hide');
					    getProducts(0);

					},
					error : function(err) {
						alert("error is" + err)
					}
				});
	}

	var searchValue;
    $('#searchInput').on("change", function(){
        searchValue = $(this).val();
        searchAndFilter(0);
    });
    var selectValue;
    $('#categorySelect').on("change", function(){
        selectValue = $(this).val();
        searchAndFilter(0);
    });

    function searchAndFilter(currentPage){
        $.ajax({
					type : "GET",
					url : "searchProduct",
					data: {
					    page: currentPage,
                        searchValue: searchValue,
                        categoryId: selectValue
                    },
					success : function(response) {
					    $('.tr').remove();
						$('ul.pagination li').remove();
						data = response.content
						for (i = 0; i < data.length; i++) {
						if(data[i].status == true){
						    st = 'Увім'
						} else {
						    st = 'Вимк'
						}
							$("#myTable")
									.append(
											'<tr class="tr"> <td>'
													+ data[i].name
													+ '</td> <td>'
													+ data[i].price
													+ '</td> <td>'
													+ data[i].categoryName
													+ '</td> <td>'
													+ st
													+ '</td> <td><a href="/admin/products/edit/'+data[i].id+'" role="button" class="btn btn-primary" style="color: white"><i class="ti ti-pencil"></i></a> <button type="button" class="btn btn-danger" onclick="openDeleteModal('
													+ data[i].id
													+ ');" ><i class="ti ti-trash"></button></td> </tr>');

						}

                              paginationType = 2;
                              buildPagination(response);


					},
					error : function(err) {
						alert("error is" + err)
					}
				});
    }

</script>
</html>