<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      class="light-style layout-navbar-fixed layout-menu-fixed"
      dir="ltr"
      data-theme="theme-default"
      data-template="vertical-menu-template-no-customizer" >
<head th:replace="~{fragments :: head}"></head>
<body>
<div class="layout-wrapper layout-content-navbar">
  <div class="layout-container">
    <aside th:replace="~{fragments :: sidebar(${pageNum})}"></aside>
    <div class="layout-page">
      <nav th:replace="~{fragments :: navbar(${image})}"></nav>
      <div class="content-wrapper">
        <div class="container-xxl flex-grow-1 container-p-y">
          <div class="card py-5 px-5">
            <form enctype="multipart/form-data" id="productForm" class="row g-3" style="color:black;">
              <div class="form-check form-switch d-flex justify-content-end">
                <input class="form-check-input mx-1" type="checkbox" role="switch" id="status">
                <label class="form-check-label" for="status"> Статус</label>
              </div>
              <div class="col-md-6" >
                <label for="inputName" class="form-label">Назва</label>
                <input type="text" class="form-control" id="inputName" maxlength="100">
                <div class="text-danger" id="nameValidation"></div>
              </div>
              <div class="col-md-6" >
                <label for="inputPrice" class="form-label">Ціна</label>
                <input type="number" class="form-control" id="inputPrice">
                <div class="text-danger" id="priceValidation"></div>
              </div>
              <div>
                <label for="inputDescription" class="form-label">Опис</label>
                <textarea class="form-control" id="inputDescription" rows="3" maxlength="300"></textarea>
                <div class="text-danger" id="descriptionValidation"></div>
              </div>

              <div class="row g-3 align-items-center">
                <div class="col-auto">
                  <label class="col-form-label" for="inputMainImage" style="color:black;">Зображення</label>
                </div>
                <div class="col-auto">
                  <img  src="https://static.vecteezy.com/system/resources/previews/004/141/669/non_2x/no-photo-or-blank-image-icon-loading-images-or-missing-image-mark-image-not-available-or-image-coming-soon-sign-simple-nature-silhouette-in-frame-isolated-illustration-vector.jpg" style="width:150px; height:150px;" id="main_image">
                  <input type="file" accept="image/jpeg, image/jpg, image/png" class="form-control d-none"  id="inputMainImage" name="mainImage">
                </div>
                <div class="col-auto">
                  <label class="input-group-text col-form-label" for="inputMainImage" style="color:black;">Завантажити</label>
                  <div class="text-danger" id="imageValidation"></div>
                  <input type="text" class="d-none" id="mainImageName" name="mainImageName">
                </div>
                <div class="col-auto">
                  <button type="button" class="btn btn-outline-danger" onclick="main_image.src='https://static.vecteezy.com/system/resources/previews/004/141/669/non_2x/no-photo-or-blank-image-icon-loading-images-or-missing-image-mark-image-not-available-or-image-coming-soon-sign-simple-nature-silhouette-in-frame-isolated-illustration-vector.jpg'; inputMainImage.value = ''; mainImageName.value = ''">Видалити</button>
                </div>
              </div>

              <div class="col-md-6" >
                <label for="selectCategory" class="form-label">Категорія</label>
                <select class="form-select" name="selectCategory" id="selectCategory">
                </select>
                <div class="text-danger" id="categoryValidation"> </div>
              </div>
              <div class="col-md-6">
                <label for="multipleSelect" class="form-label">Типи додатків</label>
                <select class="form-select" id="multipleSelect" name="adTypes" multiple>
                </select>
              </div>
              <div class="col-md-12 mt-5 d-flex justify-content-end">
                <button type="button" class="btn btn-primary" onclick="save()">Зберегти</button>
              </div>
            </form>
            <div class="col-3" style="position: absolute; top:10px; right: 50px;">
              <div class="alert alert-danger d-none" role="alert" id="error">Error happened</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script th:src="@{/assets/vendor/libs/jquery/jquery.js}"></script>
<script th:src="@{/assets/vendor/libs/popper/popper.js}"></script>
<script th:src="@{/assets/vendor/js/bootstrap.js}"></script>
<script th:src="@{/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js}"></script>
<script th:src="@{/assets/vendor/libs/hammer/hammer.js}"></script>
<script th:src="@{/assets/vendor/js/menu.js}"></script>
<script th:src="@{/assets/js/main.js}"></script>
<script th:src="@{/assets/vendor/libs/select2/select2.js}"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/i18n/uk.js"></script>
<script th:inline="javascript">
var link = [[${link}]];
var id = '';
const currentUrl = window.location.href;
const myArray = currentUrl.split("/");
var root = myArray[3];
  $(document).ready(function(){
        $('#selectCategory').select2({
            language: "uk",
            placeholder: "Оберіть категорію",
            maximumInputLength: 100,
            ajax: {
                type: "get",
                url: "/"+root+"/getCategoriesForProducts",
                data: function (params) {
                    return {
                        search: params.term,
                        page: params.page || 1
                    };
                },
                processResults: function (response) {
                    return {
                        results: $.map(response.content, function (item) {
                            return {
                                text: item.name,
                                id: item.id
                            }
                        }),
                        pagination: {
                            more: (response.pageable.pageNumber+1)  < response.totalPages
                        }
                    };
                }

            }
        });

        $('#multipleSelect').select2({
            language: "uk",
            placeholder: "Оберіть тип додатку",
            allowClear: true,
            maximumInputLength: 100,
            ajax: {
                type: "get",
                url: "/"+root+"/getAdTypesForAdditives",
                data: function (params) {
                    return {
                        search: params.term,
                        page: params.page || 1
                    };
                },
                processResults: function (response) {
                    return {
                        results: $.map(response.content, function (item) {
                            return {
                                text: item.name,
                                id: item.id
                            }
                        }),
                        pagination: {
                            more: (response.pageable.pageNumber+1)  < response.totalPages
                        }
                    };
                }

            }
        });

        if(link.localeCompare('saveProduct') != 0){
          var url = window.location.pathname;
          id = url.substring(url.lastIndexOf('/') + 1);
          $.ajax({
					type : "GET",
					url : "getProduct/"+id,
					success : function(response) {
					    $('#inputName').val(response.name);
					    $('#inputPrice').val(response.price);
					    $("#status").prop( "checked", response.status );
					    $('#inputDescription').val(response.description);
                        if(response.image != null){
                          $("#main_image").attr("src", '/'+root+'/uploads/'+response.image);
                        }
                        if(response.category != null){
                          var option = new Option(response.category.name, response.category.id, true, true);
                          $('#selectCategory').append(option).trigger('change');
                        }
                        if(response.additiveTypes != null){
                          for(let ad of response.additiveTypes){
                            var option = new Option(ad.name, ad.id, true, true);
                            $('#multipleSelect').append(option).trigger('change');
                          }
                        }
					},
					error : function(err) {
						$("#error").removeClass("d-none");
                          setTimeout(
                          function()
                          {
                            $("#error").addClass("d-none");
                          }, 4000);
					}
				});

        }

  });

    function save(){
      $("#nameValidation").text("");
      $("#inputName").removeClass("is-invalid");
      $("#priceValidation").text("");
      $("#inputPrice").removeClass("is-invalid");
      $("#descriptionValidation").text("");
      $("#inputDescription").removeClass("is-invalid");
      $("#categoryValidation").text("");
      $("#selectCategory").removeClass("is-invalid");
      var stat;
      if($("#status").is(':checked')){
          stat = true;
      } else {
          stat = false;
      }
      if($("#selectCategory").val() != null ){
        var category = $("#selectCategory").val()
      } else {
        var category = ''
      }
      var formData = new FormData();
      formData.append('id', id);
      formData.append('name', $('#inputName').val());
      formData.append('price', $('#inputPrice').val());
      formData.append('description', $("#inputDescription").val());
      formData.append('status', stat);
      formData.append('categoryId', category);
      formData.append('mainImage', $('#inputMainImage').prop('files')[0]);
      formData.append('mainImageName', $('#mainImageName').val());
      formData.append('adTypes', $('#multipleSelect').val());
      $.ajax({
					type : "POST",
					url : link,
					data: formData,
					contentType: false,
					processData: false,
					success : function(response) {
					console.log(typeof response)
					  if(typeof response === "object"){
                        for(er of response){
                          if(er.field.localeCompare('name') == 0 ){
                            $("#nameValidation").text(er.defaultMessage);
                            $("#inputName").addClass("is-invalid");
                          }
                          if(er.field.localeCompare('price') == 0){
                            $("#priceValidation").text(er.defaultMessage);
                            $("#inputPrice").addClass("is-invalid");
                          }
                          if(er.field.localeCompare('description') == 0){
                            $("#descriptionValidation").text(er.defaultMessage);
                            $("#inputDescription").addClass("is-invalid");
                          }
                          if(er.field.localeCompare('categoryId') == 0){
                            $("#categoryValidation").text(er.defaultMessage);
                            $("#selectCategory").addClass("is-invalid");
                          }
                          if(er.field.localeCompare('image') == 0){
                            $("#imageValidation").text(er.defaultMessage);
                          }
                        }
                      } else {
                        window.location.href = '/'+root+'/products';
                      }

					},
					error : function(err) {
						$("#error").removeClass("d-none");
                          setTimeout(
                          function()
                          {
                            $("#error").addClass("d-none");
                          }, 4000);
					}
				});

    }

    $('#inputMainImage').on("change", function() {
        var myFile = $(this).prop('files');
        if(validateFile(myFile[0].name) != false){
          $("#main_image").attr("src", window.URL.createObjectURL(myFile[0]));
        } else {
          $("#imageValidation").text("Некоректий тип файлу");
          $(this).val('');
        }
    });
    function validateFile(value){
        var ext = value.substring(value.lastIndexOf('.') + 1).toLowerCase();
        if($.inArray(ext, ['png','jpg','jpeg']) == -1 && value != "") {
          return false;
        } else {
          return true;
        }
    }
</script>

</body>
</html>