<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      class="light-style layout-navbar-fixed layout-menu-fixed"
      dir="ltr"
      data-theme="theme-default"
      data-template="vertical-menu-template-no-customizer" >
<head th:replace="~{fragments :: head}"></head>
<body>
<div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">
        <aside th:replace="~{fragments :: sidebar(${pageNum})}"></aside>
        <div class="layout-page">
            <nav th:replace="~{fragments :: navbar}"></nav>
            <div class="content-wrapper">
                <div class="container-xxl flex-grow-1 container-p-y">
                    <div class="card py-5 px-5">
                        <form class="row g-3" style="color:black;">
                            <div class="col-md-6" >
                                <label for="inputName" class="form-label">Ім'я</label>
                                <input type="text" class="form-control" id="inputName" maxlength="100">
                                <div class="text-danger" id="nameValidation"></div>
                            </div>
                            <div class="col-md-6" >
                                <label for="inputLastName" class="form-label">Прізвище</label>
                                <input type="text" class="form-control" id="inputLastName">
                                <div class="text-danger" id="lastNameValidation"></div>
                            </div>

                            <div class="col-md-6" >
                                <label for="inputEmail" class="form-label">E-mail</label>
                                <input type="text" class="form-control" id="inputEmail" maxlength="100">
                                <div class="text-danger" id="emailValidation"></div>
                            </div>
                            <div class="col-md-6">
                                <label for="birthdate" class="form-label">Дата народження</label>
                                <input id="birthdate" class="form-control flatpickr" type="text">
                                <div class="text-danger" id="birthDateValidation"> </div>
                            </div>
                            <div class="col-md-6">
                                <label for="oldPassword" class="form-label">Змінити пароль</label>
                                <input id="oldPassword" class="form-control" type="password" placeholder="Старий пароль">
                                <div class="text-danger" id="oldPasswordValidation"> </div>
                            </div>
                            <div class="col-md-6" >
                                <label for="selectCity" class="form-label">Місто</label>
                                <select class="form-select" id="selectCity">
                                </select>
                            </div>
                            <div class="col-md-6">
                                <input id="newPassword" class="form-control" type="password" placeholder="Новий пароль">
                                <div class="text-danger" id="newPasswordValidation"> </div>
                            </div>
                            <div class="col-md-6"></div>
                            <div class="col-md-6">
                                <input id="confirmNewPassword" class="form-control" type="password" placeholder="Підтвердити новий пароль">
                                <div class="text-danger" id="confirmNewPasswordValidation"> </div>
                            </div>



                            <div class="col-md-12 mt-5 d-flex justify-content-end">
                                <button type="button" class="btn btn-primary" onclick="edit()">Зберегти</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/assets/vendor/libs/jquery/jquery.js}"></script>
<script th:src="@{/assets/vendor/libs/popper/popper.js}"></script>
<script th:src="@{/assets/vendor/js/bootstrap.js}"></script>
<script th:src="@{/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js}"></script>
<script th:src="@{/assets/vendor/libs/hammer/hammer.js}"></script>
<script th:src="@{/assets/vendor/js/menu.js}"></script>
<script th:src="@{/assets/js/main.js}"></script>
<script th:src="@{/assets/vendor/libs/select2/select2.js}"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/i18n/uk.js"></script>
<script th:src="@{/assets/vendor/libs/flatpickr/flatpickr.js}"></script>
<script th:src="@{/assets/vendor/libs/moment/moment.js}"></script>
<script src="https://npmcdn.com/flatpickr/dist/l10n/uk.js"></script>
<script th:inline="javascript">
var email = [[${#authentication?.name}]];
var id;
  $(document).ready(function(){
        $('#selectCity').select2({
        language: "uk",
        maximumInputLength: 100,
            ajax: {
                type: "GET",
                url: "/getCitiesForLocations",
                data: function (params) {
                    return {
                        search: params.term,
                        page: params.page || 1
                    };
                },
                processResults: function (response) {
                    return {
                        results: $.map(response.content, function (item) {
                            return {
                                text: item.city,
                                id: item.city
                            }
                        }),
                        pagination: {
                            more: (response.pageable.pageNumber+1)  < response.totalPages
                        }
                    };
                }

            }
        });

        $.ajax({
					type : "GET",
					url : "getProfile",
					data: {
					    email: email
					},
					success : function(response) {
					    $('#inputName').val(response.firstName);
					    $('#inputLastName').val(response.lastName);
					    $('#inputEmail').val(response.email);
					    $("#birthdate").flatpickr({
					      locale: "uk",
					      defaultDate: moment(response.birthDate, 'YYYY-MM-DD').format('DD.MM.YYYY'),
					      dateFormat: "d.m.Y"
                        });
                        id = response.id;
                      var option = new Option(response.city, response.city, true, true);
                      $('#selectCity').append(option).trigger('change');

					},
					error : function(err) {
						alert("error is" + err)
					}
				});

    });


    function edit(){
    $("#nameValidation").text("");
	$("#inputName").removeClass("is-invalid");
	$("#lastNameValidation").text("");
	$("#inputLastName").removeClass("is-invalid");
	$("#birthDateValidation").text("");
	$("#birthdate").removeClass("is-invalid");
	$("#emailValidation").text("");
	$("#inputEmail").removeClass("is-invalid");
	$("#oldPasswordValidation").text("");
    $("#oldPassword").removeClass("is-invalid");
    $("#newPasswordValidation").text("");
    $("#newPassword").removeClass("is-invalid");
    $("#confirmNewPasswordValidation").text("");
    $("#confirmNewPassword").removeClass("is-invalid");
	if($("#birthdate").val().localeCompare('') == 0){
	  var d = null;
	} else {
	  var d = moment($("#birthdate").val(), 'DD.MM.YYYY').format('YYYY-MM-DD');
	}
      $.ajax({
					type : "POST",
					url : "editProfile",
					data: {
                        id: id,
                        firstName: $("#inputName").val(),
                        lastName: $("#inputLastName").val(),
                        email: $("#inputEmail").val(),
                        birthDate: d,
                        city: $('#selectCity').val(),
                        oldPassword: $("#oldPassword").val(),
                        newPassword: $("#newPassword").val(),
                        confirmNewPassword: $("#confirmNewPassword").val()
                    },
					success : function(response) {
					console.log(typeof response)
					  if(typeof response === "object"){
                        for(er of response){
                          if(er.field.localeCompare('firstName') == 0 ){
                            $("#nameValidation").text(er.defaultMessage);
                            $("#inputName").addClass("is-invalid");
                          }
                          if(er.field.localeCompare('lastName') == 0){
                            $("#lastNameValidation").text(er.defaultMessage);
                            $("#inputLastName").addClass("is-invalid");
                          }
                          if(er.field.localeCompare('birthDate') == 0){
                            $("#birthDateValidation").text(er.defaultMessage);
                            $("#birthdate").addClass("is-invalid");
                          }
                          if(er.field.localeCompare('email') == 0){
                            $("#emailValidation").text(er.defaultMessage);
                            $("#inputEmail").addClass("is-invalid");
                          }
                          if(er.field.localeCompare('oldPassword') == 0){
                            $("#oldPasswordValidation").text(er.defaultMessage);
                            $("#oldPassword").addClass("is-invalid");
                          }
                          if(er.field.localeCompare('newPassword') == 0){
                            $("#newPasswordValidation").text(er.defaultMessage);
                            $("#newPassword").addClass("is-invalid");
                          }
                          if(er.field.localeCompare('confirmNewPassword') == 0){
                            $("#confirmNewPasswordValidation").text(er.defaultMessage);
                            $("#confirmNewPassword").addClass("is-invalid");
                          }
                        }
                      } else {
                          $("#successEdit").removeClass("d-none");
                          setTimeout(
                          function()
                          {
                            $("#successEdit").addClass("d-none");
                          }, 4000);
                            $("#oldPassword").val("");
                            $("#confirmNewPassword").val("");
                            $("#newPassword").val("");

                      }

					},
					error : function(err) {
						alert("error is" + err)
					}
				});
    }

</script>
</body>
</html>