<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      class="light-style layout-navbar-fixed layout-menu-fixed"
      dir="ltr"
      data-theme="theme-default"
      data-template="vertical-menu-template-no-customizer" >
<head th:replace="~{fragments :: head}"></head>
<body>
<div class="layout-wrapper layout-content-navbar">
  <div class="layout-container">
    <aside th:replace="~{fragments :: sidebar(${pageNum})}"></aside>
    <div class="layout-page">
      <nav th:replace="~{fragments :: navbar}"></nav>
      <div class="content-wrapper">
        <div class="container-xxl flex-grow-1 container-p-y">
          <div class="card py-5 px-5">
            <form th:action = "@{/admin/admins/{l} (l=${link})}" th:object = "${admin}" method="post" enctype="multipart/form-data" class="row g-3" style="color:black;" id="productForm">
              <div class="col-md-6" >
                <label for="inputName" class="form-label">Ім'я</label>
                <input type="text" th:class="'form-control'+${#fields.hasErrors('firstName')? ' is-invalid' : ''}" id="inputName" maxlength="100" th:field = "*{firstName}">
                <div class="text-danger" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></div>
              </div>
              <div class="col-md-6" >
                <label for="inputPrice" class="form-label">Прізвище</label>
                <input type="text" th:class="'form-control'+${#fields.hasErrors('lastName')? ' is-invalid' : ''}" id="inputPrice"  th:field = "*{lastName}">
                <div class="text-danger" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></div>
              </div>

              <div class="col-md-6" >
                <label for="selectCity" class="form-label">Місто</label>
                <select class="form-select" id="selectCity" th:field = "*{city}">
<!--                  <option th:each="c : ${cities}" th:value="${c.city}" th:text="${c.city}"></option>-->
                </select>
              </div>
              <div class="col-md-6">
                <label for="birthdate" class="form-label">Дата народження</label>
                <input id="birthdate" class="form-control" type="date" min="1923-01-01" max="2017-01-01" th:field = "*{birthDate}">
                <div class="text-danger" th:if="${#fields.hasErrors('birthDate')}" th:errors="*{birthDate}"> </div>
              </div>

              <div class="col-md-6" >
                <label for="inputEmail" class="form-label">E-mail</label>
                <input type="text" th:class="'form-control'+${#fields.hasErrors('email')? ' is-invalid' : ''}" id="inputEmail" maxlength="100" th:field = "*{email}">
                <div class="text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
              </div>
              <div class="col-md-6">
                <label for="roleSelect" class="form-label">Роль</label>
                <select class="form-select" id="roleSelect" th:field="*{role}">
                  <option th:each="r : ${roles}" th:value="${r}" th:text="${r.getRoleName()}"></option>
                </select>
              </div>

              <div class="col-md-12 mt-5 d-flex justify-content-end">
                <button type="submit" class="btn btn-primary">Зберегти</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script th:src="@{/assets/vendor/libs/jquery/jquery.js}"></script>
<script th:src="@{/assets/vendor/libs/popper/popper.js}"></script>
<script th:src="@{/assets/vendor/js/bootstrap.js}"></script>
<script th:src="@{/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js}"></script>
<script th:src="@{/assets/vendor/libs/hammer/hammer.js}"></script>
<script th:src="@{/assets/vendor/js/menu.js}"></script>
<script th:src="@{/assets/js/main.js}"></script>
<script th:src="@{/assets/vendor/libs/select2/select2.js}"></script>
<script th:inline="javascript">
    var city = [[${admin.city}]];
  $(document).ready(function(){
        $('#roleSelect').select2({
            minimumResultsForSearch: -1
        });
        $('#selectCity').select2({
        maximumInputLength: 100,
            ajax: {
                type: "get",
                url: "getCities",
                data: function (params) {
                    return {
                        search: params.term,
                        page: params.page || 1
                    };
                },
                processResults: function (response) {
                    return {
                        results: $.map(response.content, function (item) {
                            return {
                                text: item.city,
                                id: item.city
                            }
                        }),
                        pagination: {
                            more: (response.pageable.pageNumber+1)  < response.totalPages
                        }
                    };
                }

            }
        });

        var citySelect = $('#selectCity');
        $.ajax({
            type: 'GET',
            url: 'getCity',
            data : {
                city: city
            }
        }).then(function (data) {
            var option = new Option(data.city, data.city, true, true);
            citySelect.append(option).trigger('change');

            citySelect.trigger({
                type: 'select2:select',
                params: {
                    data: data
                }
            });
        });

    });
</script>
</body>
</html>