<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      class="light-style layout-navbar-fixed layout-menu-fixed"
      dir="ltr"
      data-theme="theme-default"
      data-template="vertical-menu-template-no-customizer">
<head th:replace="~{fragments :: head}"></head>
<body>
<div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">
        <aside th:replace="~{fragments :: sidebar(${pageNum})}"></aside>
        <div class="layout-page">
            <nav th:replace="~{fragments :: navbar(${image})}"></nav>
            <div class="content-wrapper">
                <div class="container-xxl flex-grow-1 container-p-y">
                    <div class="card py-5 px-5">
                        <h4>Адміни</h4>
                        <div class="row d-flex justify-content-between mb-4">
                            <div class="col">
                                <select class="form-select" id="entitySelect">
                                    <option value="5">5</option>
                                    <option value="10">10</option>
                                    <option value="20">20</option>
                                    <option value="50">50</option>
                                </select>
                            </div>
                            <div class="row col-11">
                                <div class="col-6 ps-0 pe-2">
                                    <input class="form-control" type="search" id="searchInput"
                                           placeholder="Пошук за прізвищем або email" aria-label="Search"
                                           maxlength="100">
                                </div>
                                <div class="col ps-0 pe-2">
                                    <select class="form-select" id="roleSelect" aria-label="Default select example">
                                        <option></option>
                                        <option th:each="r : ${roles}" th:value="${r}"
                                                th:text="${r.getRoleName()}"></option>
                                    </select>
                                </div>
                                <a th:href="@{/admins/new}" type="button" class="btn btn-label-primary col-3 me-3"><i
                                        class="ti ti-plus"></i>Створити адміна</a>
                            </div>
                        </div>

                        <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                             aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <h4>Ви впевнені що хочете видалити цей елемент?</h4>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-danger" onclick="deleteAdmin()">Видалити
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th>Ім'я</th>
                                    <th>Прізвище</th>
                                    <th>E-mail</th>
                                    <th>Роль</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody id="myTable">
                                </tbody>
                            </table>
                            <div class="d-flex justify-content-between">
                                <div class="col-4 mt-4" id="paginationElements"></div>
                                <ul class="pagination mt-4 justify-content-end"></ul>
                            </div>
                        </div>
                        <div class="col-3" style="position: absolute; top:10px; right: 50px;">
                            <div class="alert alert-danger d-none" role="alert" id="error">Error happened</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script th:src="@{/assets/vendor/libs/jquery/jquery.js}"></script>
<script th:src="@{/assets/vendor/libs/popper/popper.js}"></script>
<script th:src="@{/assets/vendor/js/bootstrap.js}"></script>
<script th:src="@{/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js}"></script>
<script th:src="@{/assets/vendor/libs/hammer/hammer.js}"></script>
<script th:src="@{/assets/vendor/js/menu.js}"></script>
<script th:src="@{/assets/js/main.js}"></script>
<script th:src="@{/assets/vendor/libs/select2/select2.js}"></script>
<script th:inline="javascript">
    var page = 0;
    var toSearch = false;
    $(document).ready(function () {
        $('#roleSelect').select2({
            minimumResultsForSearch: -1,
            placeholder: "Оберіть роль",
            allowClear: true
        });
        $('#entitySelect').select2({
            minimumResultsForSearch: -1,
            allowClear: false
        });
        getAdmins(0);
    });
    var paginationType;
    var data = "";

    function getAdmins(currentPage) {
        $.ajax({
            type: "GET",
            url: "getAdmins",
            data: {
                page: currentPage,
                size: $('#entitySelect').val()
            },
            success: function (response) {
                $('.tr').remove();
                $('ul.pagination li').remove();
                data = response.content
                for (i = 0; i < data.length; i++) {
                    $("#myTable")
                        .append(
                            '<tr class="tr"> <td>'
                            + data[i].firstName
                            + '</td> <td>'
                            + data[i].lastName
                            + '</td> <td>'
                            + data[i].email
                            + '</td> <td> <span class="badge bg-label-primary">'
                            + data[i].role
                            + '</span> </td> <td><a href="admins/edit/' + data[i].id + '" role="button" class="btn btn-primary" title="Редагувати" style="color: white"><i class="ti ti-pencil"></i></a> <button type="button" class="btn btn-danger" title="Видалити" onclick="openDeleteModal('
                            + data[i].id
                            + ');" ><i class="ti ti-trash"></button></td> </tr>');

                }

                paginationType = 1;
                buildPagination(response);


            },
            error: function (err) {
                $("#error").removeClass("d-none");
                setTimeout(
                    function () {
                        $("#error").addClass("d-none");
                    }, 4000);
            }
        });
    }

    function buildPagination(response) {
        totalPages = response.totalPages;
        var pageNumber = response.pageable.pageNumber;
        page = pageNumber;
        if (totalPages > 1) {
            var prev = '';

            if (pageNumber !== 0) {
                prev = '<li class="page-item prev"><a class="page-link waves-effect" id="prev" href="javascript:void(0);"><i class="ti ti-chevron-left ti-xs"></i></a></li>';
            } else {
                prev = '<li class="page-item prev disabled"><a class="page-link waves-effect" href="javascript:void(0);"><i class="ti ti-chevron-left ti-xs"></i></a></li>';
            }


            var next = '';

            if (pageNumber !== totalPages - 1) {
                next = '<li class="page-item next"><a class="page-link waves-effect" id="next" href="javascript:void(0);"><i class="ti ti-chevron-right ti-xs"></i></a></li>';
            } else {
                next = '<li class="page-item next disabled"><a class="page-link waves-effect" href="javascript:void(0);"><i class="ti ti-chevron-right ti-xs"></i></a></li>';
            }

            var pages = '';
            var dots = '<li class="page-item disabled"><a class="page-link waves-effect" href="javascript:void(0);"> ... </a></li>';
            if (pageNumber < 3) {
                for (var i = 1; i <= 5; i++) {
                    if (i <= totalPages) {
                        if (pageNumber + 1 !== i) {
                            pages += '<li class="page-item"><a class="page-link waves-effect" href="javascript:void(0);">' + i + '</a></li>';
                        } else {
                            pages += '<li class="page-item active"><a class="page-link waves-effect" href="javascript:void(0);">' + i + '</a></li>';
                        }
                    }
                }
                if (totalPages == 6) {
                    pages += '<li class="page-item"><a class="page-link waves-effect" href="javascript:void(0);">' + 6 + '</a></li>';
                }
                if (totalPages > 6) {
                    pages += dots;
                    pages += '<li class="page-item"><a class="page-link waves-effect" href="javascript:void(0);">' + totalPages + '</a></li>';
                }

            } else if (3 > totalPages - 1 - pageNumber) {
                pages += '<li class="page-item"><a class="page-link waves-effect" href="javascript:void(0);">1</a></li>';
                if (totalPages > 6) {
                    pages += dots
                }
                for (var i = totalPages - 4; i <= totalPages; i++) {
                    if (i > 1) {
                        if (pageNumber + 1 !== i) {
                            pages += '<li class="page-item"><a class="page-link waves-effect" href="javascript:void(0);">' + i + '</a></li>';
                        } else {
                            pages += '<li class="page-item active"><a class="page-link waves-effect" href="javascript:void(0);">' + i + '</a></li>';
                        }
                    }
                }

            } else {
                pages += '<li class="page-item"><a class="page-link waves-effect" href="javascript:void(0);">1</a></li>';
                pages += dots

                pages += '<li class="page-item"><a class="page-link waves-effect" href="javascript:void(0);">' + pageNumber + '</a></li>';
                pages += '<li class="page-item active"><a class="page-link waves-effect" href="javascript:void(0);">' + (pageNumber + 1) + '</a></li>';
                pages += '<li class="page-item"><a class="page-link waves-effect" href="javascript:void(0);">' + (pageNumber + 2) + '</a></li>';

                pages += dots;
                pages += '<li class="page-item"><a class="page-link waves-effect" href="javascript:void(0);">' + totalPages + '</a></li>';
            }

            pages = prev + pages + next;
            var from = (response.size * pageNumber) + 1;
            var to = from + response.numberOfElements - 1;
            $("#paginationElements").text("Показано від " + from + " до " + to + " з " + response.totalElements + " елементів");
            $("ul.pagination").append(pages);
        } else {
            $("#paginationElements").text("")
            if (response.numberOfElements == 0) {
                $("#myTable").append('<tr class="tr"><td colspan="5" class="text-center">Дані не знайдено</td>></tr>')
            }
        }
    }

    $(document).on("click", "ul.pagination li a", function () {
        let val = $(this).text();
        let id = $(this).attr('id');
        if (id === "prev") {
            let activeValue = parseInt($("ul.pagination li.active").text());
            if (paginationType === 1) {
                getAdmins(activeValue - 2);
            }
            if (paginationType === 2) {
                searchAndFilter(activeValue - 2);
            }
        } else if (id === "next") {
            let activeValue = parseInt($("ul.pagination li.active").text());
            if (paginationType === 1) {
                getAdmins(activeValue);
            }
            if (paginationType === 2) {
                searchAndFilter(activeValue);
            }
        } else {
            let currentPage = parseInt(val - 1);
            if (paginationType === 1) {
                getAdmins(currentPage);
            }
            if (paginationType === 2) {
                searchAndFilter(currentPage);
            }
        }
    });

    var adminId;

    function openDeleteModal(id) {
        adminId = id
        $('#deleteModal').modal('show');
    }

    function deleteAdmin() {
        $.ajax({
            type: "GET",
            url: "deleteAdmin/" + adminId,
            success: function (response) {
                $('#deleteModal').modal('hide');
                getAdmins(page);

            },
            error: function (err) {
                $("#error").removeClass("d-none");
                setTimeout(
                    function () {
                        $("#error").addClass("d-none");
                    }, 4000);
            }
        });
    }

    var searchValue;
    $('#searchInput').on("change", function () {
        searchValue = $(this).val();
        searchAndFilter(0);
    });
    var selectValue;
    $('#roleSelect').on("change", function () {
        if ($(this).val().localeCompare('null') == 0) {
            selectValue = null;
        } else {
            selectValue = $(this).val();
        }
        searchAndFilter(0);
    });

    function searchAndFilter(currentPage) {
        toSearch = true;
        $.ajax({
            type: "GET",
            url: "searchAdmins",
            data: {
                page: currentPage,
                size: $('#entitySelect').val(),
                searchValue: searchValue,
                role: selectValue,
            },
            success: function (response) {
                $('.tr').remove();
                $('ul.pagination li').remove();
                data = response.content
                for (i = 0; i < data.length; i++) {
                    $("#myTable")
                        .append(
                            '<tr class="tr"> <td>'
                            + data[i].firstName
                            + '</td> <td>'
                            + data[i].lastName
                            + '</td> <td>'
                            + data[i].email
                            + '</td> <td> <span class="badge bg-label-primary">'
                            + data[i].role
                            + '</span> </td> <td><a href="admins/edit/' + data[i].id + '" role="button" class="btn btn-primary" title="Редагувати" style="color: white"><i class="ti ti-pencil"></i></a> <button type="button" class="btn btn-danger" title="Видалити" onclick="openDeleteModal('
                            + data[i].id
                            + ');" ><i class="ti ti-trash"></button></td> </tr>');

                }

                paginationType = 2;
                buildPagination(response);


            },
            error: function (err) {
                $("#error").removeClass("d-none");
                setTimeout(
                    function () {
                        $("#error").addClass("d-none");
                    }, 4000);
            }
        });
    }

    $('#entitySelect').on("change", function () {
        if (toSearch == true) {
            searchAndFilter(page);
        } else {
            getAdmins(page);
        }
    })

</script>
</html>