<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      class="light-style layout-navbar-fixed layout-menu-fixed"
      dir="ltr"
      data-theme="theme-default"
      data-template="vertical-menu-template-no-customizer">
<head th:replace="~{fragments :: head}"></head>
<body>
<div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">
        <aside th:replace="~{fragments :: sidebar(${pageNum})}"></aside>
        <div class="layout-page">
            <nav th:replace="~{fragments :: navbar(${image})}"></nav>
            <div class="content-wrapper">
                <div class="container-xxl flex-grow-1 container-p-y">
                    <div class="card py-5 px-5">
                        <h4>Користувачі</h4>
                        <div class="row d-flex justify-content-between mb-4">
                            <div class="col">
                                <select class="form-select" id="entitySelect">
                                    <option value="5">5</option>
                                    <option value="10">10</option>
                                    <option value="20">20</option>
                                    <option value="50">50</option>
                                </select>
                            </div>
                            <div class="row col-11">
                                <div class="col-6 ps-0 pe-2">
                                    <input class="form-control me-2" type="search" id="searchInput"
                                           placeholder="Пошук за номером телефону" aria-label="Search" maxlength="100">
                                </div>
                                <div class="col px-0">
                                    <input id="birthDate" placeholder="Оберіть дату" class="form-control" type="text"
                                           autocomplete="off">
                                </div>
                                <div class="col-3">
                                    <select class="form-select" id="statusSelect">
                                        <option></option>
                                        <option th:each="s : ${status}" th:value="${s}"
                                                th:text="${s.getStatusName()}"></option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                             aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <h4>Ви впевнені що хочете видалити цей елемент?</h4>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-danger" onclick="deleteUser()">Видалити
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th>№</th>
                                    <th>Імя</th>
                                    <th>Дата народження</th>
                                    <th>Номер телефону</th>
                                    <th>Статус</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody id="myTable">
                                </tbody>
                            </table>
                            <div class="d-flex justify-content-between">
                                <div class="col-4 mt-4" id="paginationElements"></div>
                                <ul class="pagination mt-4 col-8 justify-content-end"></ul>
                            </div>
                        </div>
                        <div class="col-3" style="position: absolute; top:10px; right: 50px;">
                            <div class="alert alert-danger d-none" role="alert" id="error">Error happened</div>
                        </div>
                        <div th:replace="~{fragments :: logoutModal}"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script th:src="@{/assets/vendor/libs/jquery/jquery.js}"></script>
<script th:src="@{/assets/vendor/libs/popper/popper.js}"></script>
<script th:src="@{/assets/vendor/js/bootstrap.js}"></script>
<script th:src="@{/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js}"></script>
<script th:src="@{/assets/vendor/libs/hammer/hammer.js}"></script>
<script th:src="@{/assets/vendor/js/menu.js}"></script>
<script th:src="@{/assets/js/main.js}"></script>
<script th:src="@{/assets/functions/logout.js}"></script>
<script th:src="@{/assets/vendor/libs/select2/select2.js}"></script>
<script th:src="@{/assets/vendor/libs/moment/moment.js}"></script>
<script th:src="@{/assets/vendor/libs/flatpickr/flatpickr.js}"></script>
<script src="https://npmcdn.com/flatpickr/dist/l10n/uk.js"></script>
<script>
    var page = 0;
    var toSearch = false;
    $(document).ready(function () {
        $('#entitySelect').wrap('<div class="position-relative"></div>').select2({
            minimumResultsForSearch: -1,
            dropdownParent: $('#entitySelect').parent(),
            allowClear: false
        });
        $('#statusSelect').wrap('<div class="position-relative"></div>').select2({
            minimumResultsForSearch: -1,
            placeholder: "Оберіть статус",
            dropdownParent: $('#statusSelect').parent(),
            allowClear: true
        });
        $("#birthDate").flatpickr({
            locale: "uk",
            maxDate: moment().subtract(17, 'years').format('DD.MM.YYYY'),
            dateFormat: "d.m.Y"
        });
        getUsers(0);
    });
    var paginationType;
    var data = "";

    function getUsers(currentPage) {
        $.ajax({
            type: "GET",
            url: "getUsers",
            data: {
                page: currentPage,
                size: $('#entitySelect').val()
            },
            success: function (response) {
                $('.tr').remove();
                $('ul.pagination li').remove();
                data = response.content;
                var count = response.pageable.pageNumber*response.size+1;
                for (i = 0; i < data.length; i++) {
                    var date = moment(data[i].birthDate).format('DD.MM.YYYY');
                    var d = date.toString();
                    var statusTd;
                    if(data[i].status.localeCompare('Новий') == 0){
                        statusTd = '</td> <td> <span class="badge bg-label-info">';
                    } else if(data[i].status.localeCompare('Активний') == 0){
                        statusTd = '</td> <td> <span class="badge bg-label-primary">';
                    } else {
                        statusTd = '</td> <td> <span class="badge bg-label-danger">';
                    }
                    $("#myTable")
                        .append(
                            '<tr class="tr"> <td>'
                            + count
                            + '</td> <td>'
                            + data[i].name
                            + '</td> <td>'
                            + d
                            + '</td> <td>'
                            + data[i].phoneNumber
                            + statusTd
                            + data[i].status
                            + '</span></td> <td><a href="users/edit/' + data[i].id + '" type="button" title="Редагувати" class="btn btn-primary" style="color: white"><i class="ti ti-pencil"></i></a> <button type="button" class="btn btn-danger" title="Видалити"  onclick="openModal('
                            + data[i].id
                            + ');" ><i class="ti ti-trash"></button></td> </tr>');
                    count++;
                }

                paginationType = 1;
                buildPagination(response);


            },
            error: function (err) {
                $("#error").removeClass("d-none");
                setTimeout(
                    function () {
                        $("#error").addClass("d-none");
                    }, 4000);
            }
        });
    }

    function buildPagination(response) {
        totalPages = response.totalPages;
        var pageNumber = response.pageable.pageNumber;
        page = pageNumber;
        if (totalPages > 1) {
            var prev = '';

            if (pageNumber !== 0) {
                prev = '<li class="page-item prev"><a class="page-link waves-effect" id="prev" href="javascript:void(0);"><i class="ti ti-chevron-left ti-xs"></i></a></li>';
            } else {
                prev = '<li class="page-item prev disabled"><a class="page-link waves-effect" href="javascript:void(0);"><i class="ti ti-chevron-left ti-xs"></i></a></li>';
            }


            var next = '';

            if (pageNumber !== totalPages - 1) {
                next = '<li class="page-item next"><a class="page-link waves-effect" id="next" href="javascript:void(0);"><i class="ti ti-chevron-right ti-xs"></i></a></li>';
            } else {
                next = '<li class="page-item next disabled"><a class="page-link waves-effect" href="javascript:void(0);"><i class="ti ti-chevron-right ti-xs"></i></a></li>';
            }

            var pages = '';
            var dots = '<li class="page-item disabled"><a class="page-link waves-effect" href="javascript:void(0);"> ... </a></li>';
            if (pageNumber < 3) {
                for (var i = 1; i <= 5; i++) {
                    if (i <= totalPages) {
                        if (pageNumber + 1 !== i) {
                            pages += '<li class="page-item"><a class="page-link waves-effect" href="javascript:void(0);">' + i + '</a></li>';
                        } else {
                            pages += '<li class="page-item active"><a class="page-link waves-effect" href="javascript:void(0);">' + i + '</a></li>';
                        }
                    }
                }
                if (totalPages == 6) {
                    pages += '<li class="page-item"><a class="page-link waves-effect" href="javascript:void(0);">' + 6 + '</a></li>';
                }
                if (totalPages > 6) {
                    pages += dots;
                    pages += '<li class="page-item"><a class="page-link waves-effect" href="javascript:void(0);">' + totalPages + '</a></li>';
                }

            } else if (3 > totalPages - 1 - pageNumber) {
                pages += '<li class="page-item"><a class="page-link waves-effect" href="javascript:void(0);">1</a></li>';
                if (totalPages > 6) {
                    pages += dots
                }
                for (var i = totalPages - 4; i <= totalPages; i++) {
                    if (i > 1) {
                        if (pageNumber + 1 !== i) {
                            pages += '<li class="page-item"><a class="page-link waves-effect" href="javascript:void(0);">' + i + '</a></li>';
                        } else {
                            pages += '<li class="page-item active"><a class="page-link waves-effect" href="javascript:void(0);">' + i + '</a></li>';
                        }
                    }
                }

            } else {
                pages += '<li class="page-item"><a class="page-link waves-effect" href="javascript:void(0);">1</a></li>';
                pages += dots

                pages += '<li class="page-item"><a class="page-link waves-effect" href="javascript:void(0);">' + pageNumber + '</a></li>';
                pages += '<li class="page-item active"><a class="page-link waves-effect" href="javascript:void(0);">' + (pageNumber + 1) + '</a></li>';
                pages += '<li class="page-item"><a class="page-link waves-effect" href="javascript:void(0);">' + (pageNumber + 2) + '</a></li>';

                pages += dots;
                pages += '<li class="page-item"><a class="page-link waves-effect" href="javascript:void(0);">' + totalPages + '</a></li>';
            }

            pages = prev + pages + next;
            var from = (response.size * pageNumber) + 1;
            var to = from + response.numberOfElements - 1;
            $("#paginationElements").text("Показано від " + from + " до " + to + " з " + response.totalElements + " елементів");
            $("ul.pagination").append(pages);
        } else {
            $("#paginationElements").text("")
            if (response.numberOfElements == 0) {
                $("#myTable").append('<tr class="tr"><td colspan="6" class="text-center">Дані не знайдено</td>></tr>')
            }
        }
    }

    $(document).on("click", "ul.pagination li a", function () {
        let val = $(this).text();
        let id = $(this).attr('id');
        if (id === "prev") {
            let activeValue = parseInt($("ul.pagination li.active").text());
            if (paginationType === 1) {
                getUsers(activeValue - 2);
            }
            if (paginationType === 2) {
                searchAndFilter(activeValue - 2);
            }
        } else if (id === "next") {
            let activeValue = parseInt($("ul.pagination li.active").text());
            if (paginationType === 1) {
                getUsers(activeValue);
            }
            if (paginationType === 2) {
                searchAndFilter(activeValue);
            }
        } else {
            let currentPage = parseInt(val - 1);
            console.log(currentPage)
            if (paginationType === 1) {
                getUsers(currentPage);
            }
            if (paginationType === 2) {
                searchAndFilter(currentPage);
            }
        }
    });
    var userId;

    function openModal(id) {
        userId = id
        $('#deleteModal').modal('show');
    }

    function deleteUser() {
        $.ajax({
            type: "GET",
            url: "deleteUser/" + userId,
            success: function (response) {
                $('#deleteModal').modal('hide');
                getUsers(page);

            },
            error: function (err) {
                $("#error").removeClass("d-none");
                setTimeout(
                    function () {
                        $("#error").addClass("d-none");
                    }, 4000);
            }
        });
    }

    var searchValue;
    $('#searchInput').on("change", function () {
        searchValue = $(this).val();
        searchAndFilter(0);
    });
    var selectValue;
    $('#statusSelect').on("change", function () {
        selectValue = $(this).val();
        searchAndFilter(0);
    });
    var dateValue;
    $('#birthDate').on("change", function () {
        if ($(this).val().localeCompare('') == 0) {
            dateValue = null;
        } else {
            dateValue = moment($(this).val(), 'DD.MM.YYYY').format('YYYY-MM-DD');
        }
        searchAndFilter(0);
    });

    function searchAndFilter(currentPage) {
        toSearch = true;
        $.ajax({
            type: "GET",
            url: "searchUsers",
            data: {
                page: currentPage,
                size: $('#entitySelect').val(),
                searchValue: searchValue,
                status: selectValue,
                date: dateValue
            },
            success: function (response) {
                $('.tr').remove();
                $('ul.pagination li').remove();
                data = response.content
                for (i = 0; i < data.length; i++) {
                    var date = moment(data[i].birthDate).format('DD.MM.YYYY');
                    var d = date.toString();
                    var statusTd;
                    if(data[i].status.localeCompare('Новий') == 0){
                        statusTd = '</td> <td> <span class="badge bg-label-info">';
                    } else if(data[i].status.localeCompare('Активний') == 0){
                        statusTd = '</td> <td> <span class="badge bg-label-primary">';
                    } else {
                        statusTd = '</td> <td> <span class="badge bg-label-danger">';
                    }
                    $("#myTable")
                        .append(
                            '<tr class="tr"> <td>'
                            + data[i].name
                            + '</td> <td>'
                            + d
                            + '</td> <td>'
                            + data[i].phoneNumber
                            + statusTd
                            + data[i].status
                            + '</span> </td> <td><a href="users/edit/' + data[i].id + '" type="button" title="Редагувати" class="btn btn-primary" style="color: white"><i class="ti ti-pencil"></i></a> <button type="button" class="btn btn-danger" title="Видалити" onclick="openModal('
                            + data[i].id
                            + ');" ><i class="ti ti-trash"></button></td> </tr>');

                }

                paginationType = 2;
                buildPagination(response);


            },
            error: function (err) {
                $("#error").removeClass("d-none");
                setTimeout(
                    function () {
                        $("#error").addClass("d-none");
                    }, 4000);
            }
        });
    }
    $('#entitySelect').on("change", function () {
        if (toSearch == true) {
            searchAndFilter(page);
        } else {
            getUsers(page);
        }
    })


</script>
</html>