<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      class="light-style layout-navbar-fixed layout-menu-fixed"
      dir="ltr"
      data-theme="theme-default"
      data-template="vertical-menu-template-no-customizer" >
<head th:replace="~{fragments :: head}"></head>
<body>
<div class="layout-wrapper layout-content-navbar">
  <div class="layout-container">
    <aside th:replace="~{fragments :: sidebar(${pageNum})}"></aside>
    <div class="layout-page">
      <nav th:replace="~{fragments :: navbar}"></nav>
      <div class="content-wrapper">
        <div class="container-xxl flex-grow-1 container-p-y">
          <div class="card py-5 px-5">
            <form th:action = "@{/admin/locations/{l} (l=${link})}" th:object = "${location}" method="post" class="row g-3" style="color:black;">
              <div class="col-md-6" >
                <label for="selectCity" class="form-label">Місто</label>
                <select class="form-select" id="selectCity" th:field = "*{city}">
                </select>
                <div class="text-danger" th:if="${#fields.hasErrors('city')}" th:errors="*{city}"></div>
              </div>
              <div class="col-md-6" >
                <label for="inputPhone" class="form-label">Номер телефону</label>
                <input type="text" th:class="'form-control inputPhone'+${#fields.hasErrors('phoneNumber')? ' is-invalid' : ''}" id="inputPhone" placeholder="+380994445566" maxlength="20"  th:field = "*{phoneNumber}">
                <div class="text-danger" th:if="${#fields.hasErrors('phoneNumber')}" th:text="${#fields.errors('phoneNumber')[0]}"></div>
              </div>
              <div>
                <label for="exampleFormControlTextarea1" class="form-label">Адреса</label>
                <input th:class="'form-control'+${#fields.hasErrors('address')? ' is-invalid' : ''}" id="exampleFormControlTextarea1" placeholder="вул.Васильківська 5" maxlength="100" th:field = "*{address}">
                <div class="text-danger" th:if="${#fields.hasErrors('address')}" th:errors="*{address}"> </div>
              </div>
              <div class="col-md-6" >
                <label for="inputCoordinates" class="form-label">Координати</label>
                <input type="text" th:class="'form-control'+${#fields.hasErrors('coordinates')? ' is-invalid' : ''}" id="inputCoordinates" maxlength="100" th:field = "*{coordinates}">
                <div class="text-danger" th:if="${#fields.hasErrors('coordinates')}" th:errors="*{coordinates}"></div>
              </div>
              <div class="col-md-6" >
                <label for="inputWorkingHours" class="form-label">Графік роботи</label>
                <textarea type="text" th:class="'form-control'+${#fields.hasErrors('workingHours')? ' is-invalid' : ''}" id="inputWorkingHours" rows="2" maxlength="100" th:field = "*{workingHours}"></textarea>
                <div class="text-danger" th:if="${#fields.hasErrors('workingHours')}" th:errors="*{workingHours}"></div>
              </div>
              <div class="col-md-12 mt-5 d-flex justify-content-end">
                <button type="submit" class="btn btn-primary">Зберегти</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script th:src="@{/assets/vendor/libs/jquery/jquery.js}"></script>
<script th:src="@{/assets/vendor/libs/popper/popper.js}"></script>
<script th:src="@{/assets/vendor/js/bootstrap.js}"></script>
<script th:src="@{/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js}"></script>
<script th:src="@{/assets/vendor/libs/hammer/hammer.js}"></script>
<script th:src="@{/assets/vendor/js/menu.js}"></script>
<script th:src="@{/assets/js/main.js}"></script>
<script th:src="@{/assets/vendor/libs/select2/select2.js}"></script>
<script th:src="@{/assets/vendor/libs/cleavejs/cleave.js}"></script>
<script th:inline="javascript">
  var city = [[${location.city}]];
  $(document).ready(function(){
      new Cleave('.inputPhone', {
        numericOnly: true,
        blocks: [0, 15],
        delimiters: ["+"]
    });
        $('#selectCity').select2({
        placeholder: "Оберіть місто",
        maximumInputLength: 100,
            ajax: {
                type: "GET",
                url: "/admin/getCitiesForLocations",
                data: function (params) {
                    return {
                        search: params.term,
                        page: params.page || 1
                    };
                },
                processResults: function (response) {
                    return {
                        results: $.map(response.content, function (item) {
                            return {
                                text: item.city,
                                id: item.city
                            }
                        }),
                        pagination: {
                            more: (response.pageable.pageNumber+1)  < response.totalPages
                        }
                    };
                }

            }
        });
        if(city != null) {
          var citySelect = $('#selectCity');
          $.ajax({
              type: 'GET',
              url: '/admin/getCityForLocation',
              data : {
                  city: city
              }
          }).then(function (data) {
              var option = new Option(data.city, data.city, true, true);
              citySelect.append(option).trigger('change');

              citySelect.trigger({
                  type: 'select2:select',
                  params: {
                      data: data
                  }
              });
          });
        }

    });
</script>
</body>
</html>